@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.otf") format("opentype"),
    url("fonts/Gilroy-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.otf") format("opentype"),
    url("fonts/Gilroy-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.otf") format("opentype"),
    url("fonts/Gilroy-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.signature-container {
  font-family: "Gilroy", Arial, sans-serif;
  width: 1000px;
  height: 135px;
  margin: 0;
  padding: 0;
  position: relative;
}

.signature-content {
  position: relative;
  width: 1000px;
  height: 135px;
}

.bg {
  background-color: rgb(250, 250, 250);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 688px;
  height: 135px;
  z-index: 2;
}

.name {
  font-size: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  -webkit-transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  -ms-transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  letter-spacing: 0.5px;
  position: absolute;
  left: 64.876px;
  top: 30.36px;
  z-index: 19;
  margin: 0;
}

.title {
  font-size: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(40, 40, 40);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  -webkit-transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  -ms-transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  transform: matrix(0.99912016856257, 0, 0, 0.99447550695998, 0, 0);
  letter-spacing: 0.3px;
  position: absolute;
  left: 64.876px;
  top: 73.886px;
  z-index: 20;
  margin: 0;
}

.phone {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 445.516px;
  top: 24.2px;
  z-index: 7;
  text-decoration: none;
}

.email {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 443.843px;
  top: 56.09px;
  z-index: 11;
  text-decoration: none;
}

.website {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 444.844px;
  top: 90.7px;
  z-index: 15;
  text-decoration: none;
}

.phone-icon {
  position: absolute;
  left: 409px;
  top: 24px;
  width: 20px;
  height: 18px;
  z-index: 6;
}

.email-icon {
  position: absolute;
  left: 408px;
  top: 60px;
  width: 20px;
  height: 15px;
  z-index: 10;
}

.website-icon {
  position: absolute;
  left: 408px;
  top: 92px;
  width: 21px;
  height: 20px;
  z-index: 14;
}

/* Instagram */
.ig-bg {
  background-color: rgb(40, 40, 40);
  position: absolute;
  left: 688px;
  top: 0px;
  width: 100px;
  height: 135px;
  z-index: 25;
}

.ig-icon {
  position: absolute;
  left: 723px;
  top: 52px;
  width: 30px;
  height: 31px;
  z-index: 26;
}

/* LinkedIn */
.linkedin-bg {
  background-color: rgb(40, 40, 40);
  position: absolute;
  left: 794px;
  top: 0px;
  width: 100px;
  height: 135px;
  z-index: 29;
}

.linkedin-icon {
  position: absolute;
  left: 829px;
  top: 52.5px;
  width: 30px;
  height: 30px;
  z-index: 30;
}

/* Facebook */
.facebook-bg {
  background-color: rgb(40, 40, 40);
  position: absolute;
  left: 900px;
  top: 0px;
  width: 100px;
  height: 135px;
  z-index: 33;
}

.facebook-icon {
  position: absolute;
  left: 933px;
  top: 50.5px;
  width: 34px;
  height: 34px;
  z-index: 34;
}
